<div id="<%= dom_id post %>" class="animate__animated" data-animate-in="animate__bounceIn" data-animate-out="animate__bounceOut">
    <%= post.id %>.
    <%= link_to post.title, post %>
  <%= turbo_frame_tag "edit_post" do %>
    <%= link_to "Edit", edit_post_path(post) %>
  <% end %>
    <%= link_to "Delete", post, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>
